StatusPanel {
    position: absolute;
    display: flex;
    cursor: default;
    pointer-events: all;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    width: 60px;
    height: 100%;
    left: 5px;
    bottom: 5px;
    justify-content: flex-end;
    align-items: center;
    overflow: scroll;
    flex-wrap: nowrap;
    align-content: stretch;
    //background-color: red;
}
