@using Sandbox;
@using Sandbox.UI;
@inherits Panel
@attribute [StyleSheet("StatusIcon.razor.scss")]


<root style="background-image: url(@Status.IconPath);">
	<div class="status_level_label" style="color:@((Status.Level == Status.MaxLevel ? new Color(0.75f, 0.75f, 0f) : new Color(1f, 1f, 1f)).Rgba);">
		@(Status.Level > 1 ? Status.Level.ToString() : "")
	</div>
</root>

@code
{
	public Status Status { get; set; }

	protected override int BuildHash()
	{
		return HashCode.Combine(
			Time.Now
		);
	}

	protected override void OnMouseOver(MousePanelEvent e)
	{
		base.OnMouseOver(e);

		Manager.Instance.HoveredStatus = Status;
	}

	protected override void OnMouseOut(MousePanelEvent e)
	{
		base.OnMouseOut(e);

		Manager.Instance.HoveredStatus = null;
	}
}
