DeathPanel {
    width: 100%;
    height: 100%;
    position: absolute;
    align-items: center;
    align-items: center;
    justify-content: center;

    .death_panel {
        width: 630px;
        height: 330px;
        //border: 2px solid #888;
        border-radius: 5px;
        //flex-direction: column;
        //align-items: center;
        //justify-content: center;
        //background-color: #333333f5;
        background-color: #000a;
        backdrop-filter: blur( 10px );
        margin-bottom: 22px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 200px;
        //font-family: Sonic Mania Leaderboard Font;
        //font-family: "VCRosdNEUE";
        font-family: "RulerGold";

        .death_label {
            color: #66ffaa;
            font-size: 32px;
            margin-bottom: 42px;
        }

        .death_button {
            width: 240px;
            height: 80px;
            background-color: #000000cc;
            pointer-events: all;
            border: 2px solid #666;
            border-radius: 4px;
            margin-left: 20px;
            margin-right: 20px;
            align-items: center;
            justify-content: center;
            color: #aaaaaa;
            font-size: 24px;
            cursor: "select-cursor";

            &:hover {
                border: 3px solid #66669999;
                background-color: #000000ff;
            }

            &:active {
                border: 3px solid #88880099;
                background-color: #000033ff;
            }
        }

        .disabled {
            pointer-events: none;
            opacity: 0.5;
        }
    }
}
