Nametag {
    position: absolute;
    width: 112px;
    height: 42px;
    background-color: #0005;
    border-radius: 5px;
    justify-content: center;
    flex-direction: column;
    backdrop-filter: blur( 3px );
    transform: translateX( -50% ) translateY( -50% );
    overflow: hidden;

    .name, .level {
        font-family: Poppins;
        opacity: 1;
        color: white;
        font-size: 13px;
        padding: 4px 10px;
        font-weight: bold;
    }

    .level {
        position: absolute;
        right: 0px;
        top: 0px;
        color: #bbb;
    }

    &.invisible {
        display: none;
    }

    .hpbar {
        width: 100px;
        height: 8px;
        background-color: #000a;
        margin: 5px;
        margin-top: 0;
        border-radius: 3px;
        overflow: hidden;

        &.invisible {
            display: none;
        }

        .hpbaroverlay {
            top: 0px;
            bottom: 0px;
            width: 0px;
            background-color: green;
            position: absolute;
            align-self: center;
            transform-origin: left;
            transition: width 0.1s ease-out, opacity 0.25s linear, background-color 0.25s linear;
            opacity: 1;

            &.invisible {
                display: none;
            }
        }

        .hpbardelta {
            top: 0px;
            bottom: 0px;
            width: 0px;
            //border: 2px solid blue;
            background-color: white;
            //text-anchor: initial;
            position: absolute;
            align-self: center;
            transform-origin: left;
            //transform: scaleX(0.5);
            transition: width 0.4s ease-out;
            opacity: 1;
            //z-index: 1;

            &.invisible {
                display: none;
            }
        }
    }

    .reload_bar {
        z-index: -1;
        width: 100%;
        background-color: #84c34322;
        align-self: center;
        position: absolute;
        left: 0px;
        top: 0px;
        bottom: 0px;
        transform-origin: left;
        transition: opacity 0.075s ease-out;
        opacity: 0;

        &.showing {
            opacity: 1;
        }
    }
}
