TimerPanel {
    position: absolute;
    top: 5px;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    pointer-events: none;

    &.invisible {
        display: none;
    }

    .label {
        font-size: 42px;
        font-weight: bold;
        font-family: "Mini Pixel-7";
        background-color: #0002;
        //border-radius: 10px;
        //padding: 10px 20px;
        padding: 4px 10px;
        backdrop-filter: blur( 1px );
        text-stroke: 8px #222;
    }

    .white {
        color: #fff;
    }

    .red {
        color: #ff7777;
    }
}
