@using Sandbox;
@using Sandbox.UI;
@inherits Panel
@attribute [StyleSheet("TimerPanel.razor.scss")]

<root>
	@{
		TimeSpan time;

		if(Manager.Instance.IsGameOver)
		{
			time = TimeSpan.FromSeconds(Manager.Instance.FinalRunTime);
		} 
		else
		{
			time = Manager.Instance.HasSpawnedBoss
				? TimeSpan.FromSeconds(Manager.Instance.TimeSinceRunStart.Relative)
				: TimeSpan.FromMinutes(15) - TimeSpan.FromSeconds(Manager.Instance.ElapsedTime.Relative);
		}
	}

	@if(time.TotalMinutes >= 0)
	{
		<div class="timer_label @(Manager.Instance.HasSpawnedBoss ? "red" : "white")">
			@(time.TotalSeconds > 3600 ? time.ToString(@"hh\:mm\:ss") : time.ToString(@"mm\:ss"))
		</div>
	}
</root>

@code
{
	public Player Player { get; set; }

	protected override int BuildHash()
	{
		var seconds = MathX.FloorToInt(Manager.Instance.ElapsedTime.Relative);

		return HashCode.Combine(
			seconds
		);
	}
}
