Chat {
    position: absolute;
    bottom: 20px;
    left: 75px;
    width: 550px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    //border-radius: 5px;
    flex-direction: column;
    align-items: stretch;
    font-size: 28px;
    //font-family: Sonic Mania Leaderboard Font;
    //font-family: "VCRosdNEUE";
    //font-family: "RulerGold";
    font-family: "Mini Pixel-7";
    gap: 10px;
    //background-color: #ff000011;
    //border: 1px solid #ffffff04;

    .output {
        flex-grow: 1;
        flex-direction: column;
        justify-content: flex-end;
        align-items: stretch;
        gap: 2px;

        .chat_entry {
            //background-color: #222d;
            padding: 0px;
            gap: 12px;
            //text-shadow: 2px 2px 2px #000a;
            align-items: center;
            //background-color: #0005;
            //backdrop-filter: blur( 3px );
            //border-radius: 5px;

            .avatar {
                width: 32px;
                height: 32px;
                background-position: center;
                background-size: cover;
            }

            .author {
                text-shadow: -2px 2px #000000;
                color: #ff9977;
                white-space: nowrap;
                flex-shrink: 0;
            }

            .message {
                color: #ffffffaa;
                text-shadow: -2px 2px #000000aa;
                font-weight: 500;
            }
        }
    }

    .input {
        color: white;
    }

    &.open {
        .input {
            background-color: #00000045;
            //border-radius: 5px;
            //border-bottom: 4px solid #000000;
        }
    }
}
