@using Sandbox;
@using Sandbox.UI;
@namespace Battlebugs
@inherits PanelComponent

<root class="@(IsOpen && !Manager.Instance.IsGameOver ? "show" : "")">
	<label class="title">Menu</label>
	<div class="content">
		<button onclick=@(() => IsOpen = false)>Resume</button>
		<button class="red" onclick=@(() => Restart())>Restart</button>
		<button class="red" onclick=@(() => ReturnToMainMenu())>Quit to Main Menu</button>
	</div>
</root>

@code
{
	public static PauseMenu Instance { get; private set; }
	[Property] SceneFile GameScene { get; set; }
	[Property] SceneFile MenuScene { get; set; }

	public bool IsOpen { get; set; }

	protected override void OnAwake()
	{
		Instance = this;
	}

	protected override void OnUpdate()
	{
		if(Input.EscapePressed)
		{
			IsOpen = !IsOpen;
			Input.EscapePressed = false;
		}
	}

	public void Restart()
	{
		// Game.ActiveScene.Load(GameScene);
		Manager.Instance.Restart();
		IsOpen = false;
	}

	public void ReturnToMainMenu()
	{
		Game.ActiveScene.Load(MenuScene);
	}

	protected override int BuildHash() => System.HashCode.Combine(IsOpen);
}
