{
  "Version": 2,
  "Cursors": {
    "aim-cursor": {
      "Image": "cursors/aim-cursor.png",
      "Hotspot": "32,32"
    },
    "select-cursor": {
      "Image": "cursors/select-cursor.png",
      "Hotspot": "20,20"
    },
    "default-cursor": {
      "Image": "cursors/default-cursor.png",
      "Hotspot": "20,20"
    }
  },
  "__guid": "5ba9a4a7-0e19-4be4-bd58-0da6c501ece2",
  "__schema": "configdata",
  "__type": "CursorSettings",
  "__version": 2
}